section.wrap {
  padding: 15px 15px;
  text-align: center;
}

.pf-campaign {
  width: 100%;
  font-size: 15px;
  margin-bottom: 25px;
}

.pf-campaign.error {
  border-color: #9d261d;
  color: #9d261d;
}

.pf-error {
  display: block;
  color: #9d261d;
  margin-top: -15px;
  margin-bottom: 15px;
}

.pf-campaign-label {
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #999;
  font-weight: normal;
  text-align: left;
  padding-left: 8px;
}

.pf-button {
  display: inline-block;
  padding: 8px 32px;
  border-radius: 35px;
  background-color: #1e6ca3;
  border: 2px solid #1e6ca3;
  color: #fff;
}

.pf-button:hover,
.pf-button:active {
  color: #eee;
  background-color: #2878b1;
  box-shadow: 0 0 12px rgba(0,0,0,.22);
}

.pf-button:active {
  background-color: #125381;
  box-shadow: 0 0 8px rgba(0,0,0,.32);
}

div.modal.gift input.gift-code {
  display: block;
  width: 92%;
  padding: 6px 10px;
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

div.modal.gift input.gift-code:focus {
  background-color: #f4f4f4 !important;
}